#blog{
    text-decoration: none ;
    font-weight:normal ;
}
#train{
    text-decoration:  underline ;
    font-weight: bold;
}
#blog:hover  {
    text-decoration:  underline ;
    font-weight: bold;
}
body{
    color:rgb(12, 48, 12);
}

.coaches-txt h1{
    text-align: center;
    font-size: 3rem;
    font-weight: normal;

}
h1 em{
    font-style:  italic;
}
.coaches-txt p{
    max-width: 550px;
}

.coaches-txt {
display: grid;
    justify-content: center;
    text-align: center;   /* ⬅️ This makes all lines center-aligned */
    max-width: 700px;     /* prevent too wide text */
    margin: 0 auto 50px;
    padding: 20px 10px;

}
@media (max-width: 500px) {
    body{
        margin:0;
    }
    #log {
        background-color:rgb(230, 255, 227);
        color:rgb(16, 67, 16);
        border-radius:  20px;
        border:rgb(16, 67, 16)solid 1px;
        font-weight: bold;
        transition: 0.2s;
        margin-right:  30px;
        margin-left:  10px;
        min-width: 70px;
        height:60px;
        padding:0 25px;


    }
    nav h2{
        font-size: 2em;
    }
    #menu-toggle {
        font-size: 2em;
    }
}
